<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Kids Ministry</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link th:href="@{/css/styles.css}" rel="stylesheet" />-->



</head>
<body>

<nav th:fragment="navigation" class="pull-left">
    <a href="/home"><b>Home</b></a>         |
    <a href="/event"><b>Events</b></a>          |
    <a href="/resources"><b>Resources</b></a>           |
    <a href="/vision"><b>Our Vision</b></a>         |
    <a href="/contacts"><b>Contact Us</b></a>

</nav>
<nav th:fragment="navigation" class="pull-right">
    <a href="/login"><b>Log In</b></a>          |
    <a href="/user/add"><b>Sign Up</b></a>
</nav>

</body>
</html>