<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<link th:href="@{/css/styles.css}" rel="stylesheet" />


<form method="post" style="max-width:600px;" th:object="${user}">
    <h1 th:text="${title}">Default Title</h1>

    <p><b>Please fill in this form to create an account.</b></p>

    <div class="form-group">
        <label th:for="username">Username</label>
        <input placeholder="Enter Username" class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input placeholder="Enter Email" class="form-control" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input placeholder="Enter Password" class="form-control" type="password" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>

    <input type="submit" value="Add User" />
    <p>Already have an account? <a href="#">Log In</a>.</p>

</form>

</body>
</html>