<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<article>
    <header>
        <h1 style="text-align:center"><em>Children Ministry Resources</em></h1>
        <img th:src="@{/images/Top.jpg}" alt="Top" class="center"/>
    </header>
</article>


<!--<div id="footer">
        <div id="button">
            <p>Send me an <span class="bold">e-mail</span>!</p>
        </div>
</div>

<footer>

<p>Contact information: <a href="mailto:someone@example.com">rwec@gmail.com</a></p>
<p>&copy; 2018 All Rights Reserved</p>

</footer>-->

<div id="footer">
    <div class="container">

        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;"><a href="mailto:someone@example.com">rwec@gmail.com</a></div>
            <div class="col-sm-4" style="background-color:lavenderblush;">Contact #: 317-605-1419</div>
            <div class="col-sm-4" style="background-color:lavender;">9116 Lackland Rd</div>
        </div>
    </div>
</div>
</body>
</html>
