<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<ul>
    <li><a th:href="@{/event}">List</a></li>
    <li><a th:href="@{/event/add}">Add Event</a></li>
    <li><a th:href="@{/event/remove}">Remove Event</a></li>
    <li><a th:href="@{/event/register}">Register for Event</a></li>
    <li><a th:href="@{/event/volunteer}">Volunteer for Event</a></li>


</ul>

<p th:unless="${events} and ${events.size()}">No event :(</p>


<table class="table">

    <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
    </tr>

    <tr th:each="event : ${events}">
        <td th:text="${event.name}"></td>
        <td th:text="${event.date}"></td>
        <td th:text="${event.location}"></td>
        <td th:text="${event.description}"></td>
    </tr>

</table>

</body>
</html>