<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>

<link th:href="@{/css/styles.css}" rel="stylesheet" />

<form method="post">

    <div th:each="event : ${events}" class="checkbox">
        <input type="checkbox" name="eventIds" th:value="${event.id}" th:id="${event.id}"/>
        <label th:for="${event.id}" th:text="${event.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Event" />
</form>

</body>
</html>