<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<link th:href="@{/css/styles.css}" rel="stylesheet" />
<article>
    <header>
        <h1 style="text-align:center"><strong><em>RWEC Children Ministry</em> </strong></h1>
        <h3 style="text-align:center"><b><i><font color="blue">Proverbs 22:6 “Train up a child in the way he should go: and when he is old, he will not depart from it.”</font></i></b></h3>
            <br><br><br>
        <img th:src="@{/images/Top.jpg}" alt="Top" class="center"/>
            <br><br><br>

            <iframe width="440" height="315"
                    src="https://www.youtube.com/embed/6pjWFXAwKs4" class="left">
            </iframe>

        <iframe width="440" height="315"
                src="https://www.youtube.com/embed/ijGcZvJSUWE" class="right">
        </iframe>

        <iframe width="440" height="315"
                src="https://www.youtube.com/embed/_Tr5eUBTClw" class="right">
        </iframe>

    </header>
   <!-- <p style="font-size: 22px">Our baby daughter’s growth and development during the first year was both delightful and challenging (with all the crying, feeding, changing diapers, sleepless nights and grumpy days). All these experiences were worth, even though they were demanding. </p>
    <p style="font-size: 22px">Bethany is a very charm full, strong will baby and a wonderful first addition to our family.She was born on March 19th 2017 at 10pm weighing 7lbs 5oz, 21 inches tall. That’s when we first experienced the joy of parenting a child. It’s really a big blessing to experience this joy after waiting long 9 months. But once we heard Beth’s first cry, we forgot the challenges of pre-born days.</p>
    <p style="font-size: 22px">We had been seeing so many changes day after day, weeks after weeks and month after month. But the things that really amazed us were Beth’s love for music (she used to frequently go to sleep with a local gospel song by Azeb), her walking without crawling and imitating actions.</p>
-->
</article>



        <!--<div id="footer">
                <div id="button">
                    <p>Send me an <span class="bold">e-mail</span>!</p>
                </div>
        </div>

<footer>

    <p>Contact information: <a href="mailto:someone@example.com">rwec@gmail.com</a></p>
    <p>&copy; 2018 All Rights Reserved</p>

</footer>-->

<div id="footer">
    <div class="container">

        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;"><a href="mailto:someone@example.com">rwec@gmail.com</a></div>
            <div class="col-sm-4" style="background-color:lavenderblush;">Contact #: 317-605-1419</div>
            <div class="col-sm-4" style="background-color:lavender;">9116 Lackland Rd</div>
        </div>
    </div>
</div>



</body>
</html>
